<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet" />
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet" />
  {% block templatecss %}{% endblock %}              
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">Talking Chess</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a name="home_nav" class="nav-link" href="{% url 'index' %}">HomePage</a>
          </li>
          {% if user.is_authenticated %}
           <li class="nav-item">
            <a name="logout_nav" class="nav-link" href="{% url 'chess_app:logout' %}">Logout</a>
            </li>
            {% block profile_nav %}{% endblock %}
            {% block chessboard_nav %}{% endblock %}
          {% else %}
          <li class="nav-item">
            <a name="login_nav" class="nav-link" href="{% url 'chess_app:login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a name="register_nav" class="nav-link" href="{% url 'chess_app:register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="navbar-brand">
        {% block imagenav %}{% endblock %}
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <!-- /.container -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>
