{% extends "chess_app/base_footer.html" %}
{% load static %}
{% block title %}Chess Board{% endblock %}
{% block templatecss %}<link href="{% static 'css/chessboard.css' %}" rel="stylesheet" />{% endblock %}
{% block profile_nav %}
  {% if profile_detail %}
    <li class="nav-item">
      <a name="profile_nav" class="nav-link" href="{% url 'chess_app:profile_detail' pk=profile_detail.pk %}">Profile</a>
    </li>
  {% else %}
    <li class="nav-item">
      <a name="create_profile_nav" class="nav-link" href="{% url 'chess_app:create_profile' %}">Create Profile</a>
    </li>
  {% endif %}
{% endblock %}
{% block chessboard_nav %}
{% endblock %}
{% block imagenav %}
  {% if profile_detail %}
    <img class="imageframe" src="../../../media/{{ profile_detail.picture }}" alt="empty">
  {% else %}
    <img class="imageframe" src="{% static 'images/grey.jpg' %}" alt="empty">
  {% endif %}
{% endblock %}

{% block content %}
  <div id="switch-button" class="btn btn-primary purple" onclick="window.chessMech.switchColours();">
    Switch Colours
  </div>
  <div class="chessboard">
    <table id='table'>
        <tr id='topRow'>
        <td class="light-brown">
          <div id='8A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8A");'>
            <div id="comp_rook1" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_rook1");'>♜</div>
          </div>
        </td>
        <td class='brown'>
          <div id='8B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8B");'>
            <div id="comp_horse1" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_horse1");'>♞</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='8C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8C");'>
            <div id="comp_bishop1" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_bishop1");'>♝</div>
          </div>
        </td>
        <td class='brown'>
          <div id='8D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8D");'>
            <div id="comp_queen" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_queen");'>♛</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='8E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8E");'>
            <div id="comp_king" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_king");'>♚</div>
          </div>
        </td>
        <td class='brown'>
          <div id='8F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8F");'>
            <div id="comp_bishop2" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_bishop2");'>♝</div>  
          </div>
        </td>
        <td class="light-brown">
          <div id='8G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8G");'>
            <div id="comp_horse2" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_horse2");'>♞</div>
          </div>
        </td>
        <td class='brown'>
          <div id='8H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("8H");'>
            <div id="comp_rook2" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_rook2");'>♜</div>
          </div>
        </td>
            </tr>
      <tr id='secondRow'>
        <td class='brown'>
          <div id='7A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7A");'>
            <div id="comp_pawn1" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn1");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='7B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7B");'>
            <div id="comp_pawn2" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn2");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='7C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7C");'>
            <div id="comp_pawn3" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn3");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='7D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7D");'>
            <div id="comp_pawn4" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn4");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='7E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7E");'>
            <div id="comp_pawn5" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn5");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='7F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7F");'>
            <div id="comp_pawn6" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn6");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='7G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7G");'>
            <div id="comp_pawn7" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn7");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='7H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("7H");'>
            <div id="comp_pawn8" class="chesspiece comp-player" onclick='window.chessMech.remove("comp_pawn8");'>♟</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="light-brown">
          <div id='6A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6A");'></div>
        </td>
        <td class='brown'>
          <div id='6B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6B");'></div>
        </td>
        <td class="light-brown">
          <div id='6C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6C");'></div>
        </td>
        <td class='brown'>
          <div id='6D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6D");'></div>
        </td>
        <td class="light-brown">
          <div id='6E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6E");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='6F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6F");'></div>
        </td>
        <td class="light-brown">
          <div id='6G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6G");'></div>
        </td>
        <td class='brown'>
          <div id='6H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("6H");'></div>
        </td>
      </tr>
      <tr>
        <td class='brown'>
          <div id='5A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5A");'></div>
        </td>
        <td class="light-brown">
          <div id='5B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5B");'></div>
        </td>
        <td class='brown'>
          <div id='5C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5C");'></div>
        </td>
        <td class="light-brown">
          <div id='5D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5D");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='5E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5E");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='5F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5F");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='5G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5G");'></div>
        </td>
        <td class="light-brown">
          <div id='5H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("5H");'></div>
        </td>
      </tr>
      <tr>
        <td class="light-brown">
          <div id='4A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4A");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='4B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4B");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='4C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4C");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='4D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4D");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='4E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4E");'></div>
        </td>
        <td class='brown'>
          <div id='4F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4F");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='4G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4G");'></div>
        </td>
        <td class='brown'>
          <div id='4H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("4H");'>
            
          </div>
        </td>
      </tr>
      <tr>
        <td class='brown'>
          <div id='3A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3A");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='3B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3B");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='3C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3C");'></div>
        </td>
        <td class="light-brown">
          <div id='3D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3D");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='3E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3E");'></div>
        </td>
        <td class="light-brown">
          <div id='3F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3F");'>
            
          </div>
        </td>
        <td class='brown'>
          <div id='3G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3G");'>
            
          </div>
        </td>
        <td class="light-brown">
          <div id='3H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("3H");'>
            
          </div>
        </td>
      </tr>
      <tr id='secondLastRow'>
        <td class="light-brown">
          <div id='2A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2A");'>
            <div id="player_pawn1" class="chesspiece player" onclick='window.chessMech.select("player_pawn1");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='2B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2B");'>
            <div id="player_pawn2" class="chesspiece player" onclick='window.chessMech.select("player_pawn2");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='2C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2C");'>
            <div id="player_pawn3" class="chesspiece player" onclick='window.chessMech.select("player_pawn3");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='2D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2D");'>
            <div id="player_pawn4" class="chesspiece player" onclick='window.chessMech.select("player_pawn4");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='2E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2E");'>
            <div id="player_pawn5" class="chesspiece player" onclick='window.chessMech.select("player_pawn5");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='2F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2F");'>
            <div id="player_pawn6" class="chesspiece player" onclick='window.chessMech.select("player_pawn6");'>♟</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='2G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2G");'>
            <div id="player_pawn7" class="chesspiece player" onclick='window.chessMech.select("player_pawn7");'>♟</div>
          </div>
        </td>
        <td class='brown'>
          <div id='2H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("2H");'>
            <div id="player_pawn8" class="chesspiece player" onclick='window.chessMech.select("player_pawn8");'>♟</div>
          </div>
        </td>
      </tr>
      <!--Last Row-->
      <tr id='lastRow'>
        <td class='brown'>
          <div id='1A' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1A");'>
            <div id="player_rook1" class="chesspiece player" onclick='window.chessMech.select("player_rook1");'>♜</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='1B' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1B");'>
            <div id="player_horse1" class="chesspiece player" onclick='window.chessMech.select("player_horse1");'>♞</div>
          </div>
        </td>
        <td class='brown'>
          <div id='1C' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1C");'>
            <div id="player_bishop1" class="chesspiece player" onclick='window.chessMech.select("player_bishop1");'>♝</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='1D' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1D");'>
            <div id="player_queen" class="chesspiece player" onclick='window.chessMech.select("player_queen");'>♛</div>
          </div>
        </td>
        <td class='brown'>
          <div id='1E' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1E");'>
            <div id="player_king" class="chesspiece player" onclick='window.chessMech.select("player_king");'>♚</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='1F' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1F");'>
            <div id="player_bishop2" class="chesspiece player" onclick='window.chessMech.select("player_bishop2");'>♝</div>
          </div>
        </td>
        <td class='brown'>
          <div id='1G' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1G");'>
            <div id="player_horse2" class="chesspiece player" onclick='window.chessMech.select("player_horse2");'>♞</div>
          </div>
        </td>
        <td class="light-brown">
          <div id='1H' class='empty chesspiece-container' onclick='window.chessMech.moveTo("1H");'>
            <div id="player_rook2" class="chesspiece player" onclick='window.chessMech.select("player_rook2");'>♜</div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="clearfix"></div>
  <div id="ai-comment-container">
    <div class="ai-opponent-comment" id="ai-comment"></div>
    <img class="ai-opponent-image" src="{% static 'images/robot_pic.jpg' %}"/>
  </div>
    <div id="state" class="btn btn-danger">Yo {{ state }}</div>
    <button id="orange_btn" type="submit" class="btn purple" onclick="robot(this.id)">Purple</button>
    <button id="green_btn" type="submit" class="btn btn-success" onclick="robot(this.id)">Green</button>
     <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="register-container">
        {{ chess_form.as_p }}
        <button id="chess_submit_btn" name="chess_submit" type="submit" class="btn btn-primary btn-btn">Submit</button>
      </div>
    </form>
    <br>
    <script type="text/javascript" src="{% static 'js/dev_jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/RobotMovement.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/ChessPiece.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/Rook.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/Bishop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/Horse.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/Queen.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/King.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ChessPieces/Pawn.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/CheckerGetter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Main.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'js/Tests/RunTests.js' %}"></script> -->
{% endblock %}
