{% extends "chess_app/base.html" %}
{% load static %}
{% block title %}Profile Form{% endblock %}
{% block templatecss %}<link href="{% static 'css/profile.css' %}" rel="stylesheet" />{% endblock %}
{% block imagenav %}<img class="imageframe" src="../../../../media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% block content %}
    <br>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="register-container">
        {{ profile_form.as_p }}
        <button name="profile_submit" type="submit" class="btn btn-primary btn-btn">Submit</button>
      </div>
    </form>
    <br>
{% endblock %}
