{% extends "chess_app/base_footer.html" %}
{% load static %}
{% block title %}Profile Page{% endblock %}
{% block templatecss %}<link href="{% static 'css/profile.css' %}" rel="stylesheet">{% endblock %}
{% block imagenav %}<img class="imageframe" src="../../../media/{{ profile_detail.picture }}" alt="{{ profile_detail.picture }}">{% endblock %}
{% if user.is_authenticated %}
  {% block profile_nav %}
    <li class="nav-item">
      <a name="profile_nav" class="nav-link" href="{% url 'chess_app:profile_detail' pk=profile_detail.pk %}">Profile</a>
    </li>
  {% endblock %}
{% endif %}

{% block content %}
    <br>
    <img class="profile-center" src="../../../media/{{ profile_detail.picture }}"/>
    <br>
    <h1 name="profile_username" class="my-4">Username: {{ profile_detail.user.username }}</h1>
    <br>
    <div>
      <p><a name="update_profile_link" class='btn btn-warning' href="{% url 'chess_app:update_profile' pk=profile_detail.pk %}">Update</a></p>
    </div>
   {% if chess_detail %}
      <div>
        <a 
          name="cont_game_btn" 
          class="btn btn-primary btn-btn"  
          href="{% url 'chess_app:chess_detail' pk=chess_detail.pk %}"
        >
          Continue Game
        </a>
      </div>
    {% else %}  
      <form name="profile_chess_form" method="POST">
        {% csrf_token %}
        {{ chess_form.as_p }}
        <input 
          name="new_chessboard_btn" 
          type="Submit" 
          class="btn btn-primary btn-btn" 
          value="New Game"
        />
      </form>
    {%  endif %}
    <br>
{% endblock %}
