
.imageframe {
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	margin-left: 2vw;
}

.chessboard {
	margin-top: 15vh;
	margin-left: 17.5vw;
	height: 50vw;
	width: 50vw;
	border: 5px solid black;
}

.comment-input {
	width: 100%;
	height: 10vh;
}

.purple {
	background-color: purple;
}


@media only screen and (max-width: 600px) {
	.imageframe {
		height: 8vw;
		width: 8vw;
		border-radius: 50%;
	}	

	.chessboard {
		margin-top: 5vh;
		margin-left: 7.5vw;
		height: 70vw;
		width: 70vw;
		border: 5px solid black;
	}

	

}
